.nav-item{
    text-decoration: none;
    display: flex;
    display: flex 1;
}
h2,h3,h4{
    font-family:  Brush Script MT;
    
    
        
}
h2{
    text-align: center;
    font-size: 8rem;
    
}
h3, h4 {
    font-size: 3rem;
}
.container{
    background-color: black;
    color: white;
    text-justify: auto;
    
}


